div {
	box-sizing: border-box;
	font-size: 12px;
}

table
{
	width: 100px;
}

a:link, a:visited {
	/*font-weight: bold;*/
	color: blue;
	text-decoration: none;
}

.metric-link-selected {
	color: black !important;
	font-weight: bold;
}

.c3-circle {
  opacity: 1 !important;
}

.wrapper {
	margin-top: 4px;
	margin-left: 6px;
	width: 100vw;
	height: 97vh;
}

.left-wrapper {
	border: solid 1px #000;
	width: 30vw;
	float: left;
	height: 97vh;
}

.right-wrapper {
	border: solid 1px #000;
	width: 68vw;
	float: left;
	height: 97vh;
}

.metrics-container {
	border: solid 1px #000;
	height: 31vh;
	font-size: 12px;
	background-color: rgb(250, 250, 250);
}

.metric-value {
	text-align: right;
	font-size: 20px;
	margin-bottom: 16px;
}

.metric-box {
	margin: 0 0.12vw;
	/*width: 16%;*/
	width: 10.55vw;
	height: 22.43vh;
	/* height: 100%; */
	/*height: 73%;*/
	display: inline-block;
	
	padding-left: 12px;	
	padding-right: 16px;

	margin-top: 16px;
	margin-bottom: 10px;
	margin-top: 14px;

	border: solid 1px rgb(207, 207, 207);
	background-color: #fff;
}

.metric-box-selected {
	border-color: rgba(92, 92, 92, 0.9);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.55);
}

.metric-chart {
	height: 60% !important;
	width: 100% !important;
	border: none !important;
	padding-left: 0px !important;
}

.scatterplot-settings {
	width: 100%;
	height: 30px;
	background-color: rgb(229, 229, 229);
}

.statvalue-settings {
	width: 100%;
	height: 30px;
	background-color: rgb(229, 229, 229);
}

.scatterplot-settings div {
	float: left;
	position: relative;
 	top: 50%;
  	transform: translateY(-50%);
  	font-size: 12px;
  	padding-left: 18px;
  	padding-right: 15px;
}

.scatterplot-chart {
	width: 90%;
	height: 85%;
}

#studentselection-chart {
	margin: 1vh 0.5vw;
}

.student-row {
	padding-top: 0.8152vh;
	padding-bottom: 3.3vh;
}

.student-box
{
	float: left;
	background-color: rgb(240, 240, 240);
	border: solid 1px rgb(211, 211, 211);
	width: 1.7vw;
  	height: 3.25vh;
  	margin: 0 0.25vw;

	/*width: 20px;*/
	/*height: 1.4265vw;*/
	/*height: 20px;*/
	/*margin-left: 6px;*/
	/*margin-right: 6px;*/
}

.student-selected
{
  background-color: #7570b3 !important;
  border-color: #413B86 !important;
}

.studentselection-chartfooter {
	margin-top: 2vh;
}

.studentselection-selected {
	margin-left: 0.4279vw;
	margin-right: 0.4279vw;
	float: left;
}

.studentselection-total {
	margin-left: 0.4279vw;
	margin-right: 0.4279vw;
	float: right;
}

.chapter-container,  .totalset-container{
	border: solid 1px #000;
	height: 33vh;

}

.chapter-container div, .totalset-container div{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	width: 23%; 
	height: 100%;
	display: inline-block
}

.scatterplot-container {
	border: solid 1px #000;
	height: 64vh;
}

.scatterplot-chart {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
}

.playerselection-container {
	border: solid 1px #000;
	height: 33vh;
}